body.a{
           background-image: url('motherboard.jpeg'); background-repeat: no-repeat; background-size: cover;
        }
body.b{
           background-image: url('cloud.jpeg'); background-repeat: no-repeat; background-size: cover;
        }
body.c{
           background-image: url('code.jpeg'); background-repeat: no-repeat; background-size: cover;
        }
body.d{
           background-image: url('javascript.jpeg'); background-repeat: no-repeat; background-size: cover;
        }
div{
    color: #b08f26;
     font-weight: bold;
    font-family: "Apple Chancery", cursive;
    text-align: center;
    font-size: 13.28px
}
