body{
           background-image: url('sports.jpg'); background-repeat: no-repeat; background-size: cover;
        }
div{
    color: #b08f26;
     font-weight: bold;
    font-family: "Apple Chancery", cursive;
}
TEXTAREA, input{
    background-color: #0000ff;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #b08f26;
    border-color: #b08f26;
    border-width: 4px;
}    